td {
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    width: 80px;
    height: 80px;

}

table {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 3px 3px 1px black;
}

h1 {
    background-color: lightgray;
    padding-bottom: 10px;
    color: red;
    text-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

form {
    height: 40px;
    width: 400px;
    margin-top: 5px ;
    margin: 0 auto;
    text-align: center;
   
}

button {
    background-color: red;
    color: white;
    height: 40px;
}

input {
    height: 40px;
    border: 2px solid black;
    background-color: lightgray;
}

#word_check{
    font-size: 40px;
    font-style: italic;
    color: red;
    margin-top: 40px;
    text-align: center;
}

.scoreboard {
    background-color: lightgray;
    border: 1px solid black;
    height: 200px;
    color: red;
    font-size: 90px;
    text-shadow: 2px 2px 1px black;
    padding: 5px;
    box-shadow: 2px 2px 1px black;
}

.scoreboard h3 {
    color: black;
    text-decoration: underline;
    text-shadow: none;
}

.timer {
    background-color: lightgray;
    border: 1px solid black;
    height: 200px;
    color: red;
    font-size: 90px;
    text-shadow: 2px 2px 1px black;
    padding: 5px;
    box-shadow: 2px 2px 1px black;
}

.timer h3 {
    color: black;
    text-decoration: underline;
    text-shadow: none;
}


#stats {
    background-color: lightgray;
    text-align: center;
}